<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titre %}
        {{ titre|default("Forum Yolo") }}
    {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"></head>
    {% block extra_css %}
    {% endblock %}
</head>
<body>
{% macro option(opt, value, label) -%}
  <option value={{ value }} {% if opt == value %} selected="selected"{% endif %}>{{ label }}</option>
{%- endmacro %}
{% block content %}
  <table style="width: 100%;">
  	 <tr><td style="text-align: center; vertical-align: middle;">
           <h1>Yolo Forum</h1><br>
       </td></tr>
  </table>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-list"></span>
        </button>
        <a class="navbar-brand" href="/"><p class="text-primary">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        </p></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/members"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Members</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if not session.id %}
            <a href="/register" class="btn btn-warning navbar-btn">
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Register
            </a>
            <a href="/login" class="btn btn-success navbar-btn">
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in
            </a>
          {% else %}
            <li class="active" style="padding-right:15px;"><a href="/user/{{ session.id }}">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{ session.username }}
            </a></li>
            <a href="/logout" class="btn btn-danger navbar-btn">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
            </a>
          {% endif %}
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
{% endblock %}
  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="/static/js/bootstrap.js"></script>
</body>
</html>