<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block titre %}
        {{ titre|default("Forum Yolo") }}
    {% endblock %}
    </title>

    <link rel="stylesheet" href="/static/css/bootstrap.css"></head>
    <link rel="stylesheet" href="/static/css/blockquote.css">
    {% block extra_css %}
    {% endblock %}
</head>
<body>

{% macro option(opt, value, label) -%}
  <option value={{ value }} {% if opt == value %} selected="selected"{% endif %}>{{ label }}</option>
{%- endmacro %}

{% macro confirm_popup(text) -%}
  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <strong><strong>Are you sure ?</strong></strong>
              </div>
              <div class="modal-body">
                  <strong>{{ text }}</strong>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                  <a class="btn btn-danger btn-ok"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Confirm</a>
              </div>
          </div>
      </div>
  </div>
{%- endmacro %}

{% macro hide(titre, type, hidden) -%}
  {% if hidden and not session.permission %}
    <p class="text-muted">{{ titre~' (hidden '~type~')'|e }}</p>
  {% else %}
    <p>{{ titre|e }}</p>
  {% endif %}
{%- endmacro %}

{% block content %}
  <div class="text-center">
           <h1>Yolo Forum</h1><br>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-list"></span>
        </button>
        <a class="navbar-brand" href="/"><p class="text-primary">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        </p></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/members"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Members</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if not session.id %}
            <a href="/register" class="btn btn-warning navbar-btn">
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Register
            </a>
            <a href="/login" class="btn btn-success navbar-btn">
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in
            </a>
          {% else %}
            <li class="active" style="padding-right:15px;"><a href="/user/{{ session.id }}">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{ session.username }}
            </a></li>
            <a href="/logout" class="btn btn-danger navbar-btn">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
            </a>
          {% endif %}
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
{% endblock %}

  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/confirm-delete.js"></script>

</body>
</html>