<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titre %}
        {{ titre|default("Forum Yolo") }}
    {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"></head>
    {% block extra_css %}
    {% endblock %}
</head>
<body>
{% block content %}
  <table style="width: 100%;">
  	 <tr><td style="text-align: center; vertical-align: middle;">
           <h1>Yolo Forum</h1><br>
       </td></tr>
  </table>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-list"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
{% endblock %}
  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="/static/js/bootstrap.js"></script>
</body>
</html>