{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <table style="width: 100%;">
                <tr><td style="text-align: center; vertical-align: middle;">
                    <h1>Yolo Forum</h1><br>
                </td></tr>
            </table>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>{{ cat.titre }}</th>
                </tr>
                {% for sscat in cat.sscats %}
                    <tr><td><a href="/subcategory/{{ sscat.id }}">
                        {{ sscat.titre }}
                    </a></td></tr>
                {% endfor %}
            </table>
            <a href="/add_subcategory" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
        <a href="/" class="btn btn-default">Menu</a>
    </div>
</div>
{% endblock %}