{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {{ super() }}
            <table style="width: 100%;">
                <tr><td style="text-align: center;">
                    <h3>Edit {{type}} "{{ this.titre|e }}" :</h3><br>
                </td></tr>
            <tr><td>    
            <form action="" role="form" method="post" class="form-horizontal">
                <table style="width: 100%;">
                    <tr><td style="text-align: right; width: 60%;">
                        <label class="control-label" for="title">{% if type in ['category', 'subcategory'] %}Name:{% else %}Title:{% endif %}</label>
                        <input type="text" name="title" value="{{ form.title|e }}" maxlength="100" placeholder={% if type in ['category', 'subcategory'] %}"Name"{% else %}"Title"{% endif %} {% if (type is equalto 'topic') and (session.permission < 8) %}readonly{% endif %}>
                        </td><td style="text-align: left;">
                        {% if errors.title %}
                        <p class="text-danger">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{errors.title}}
                        </p>
                        {% endif %}
                    </td></tr>
                    {% if type is not equalto 'category' %}
                        <tr><td>&nbsp;</td></tr>
                        <tr><td style="text-align: right;">
                            <label class="control-label" for="content">{% if type is equalto 'subcategory' %}Description{% else %}Content:{% endif %}</label>
                            <textarea  name="content" value="{{ form.content|e }}" placeholder="{% if type is equalto 'subcategory' %}Description{% else %}Text{% endif %}">{{ form.content|e }}</textarea>
                        </td><td style="text-align: left;">
                            {% if errors.content %}
                                <p class="text-danger">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    {{errors.content}}
                                </p>
                            {% endif %}
                        </td></tr>
                    {% endif %}
                </table>
                <br>
    		</td></tr>
            <tr><td style="text-align: center;">
                    {% if type is not equalto 'comment' %}
                        {% if force_hidden %}
                            <p class="text-muted"><input type="checkbox" name="hidden" value="hide" {% if this.hidden %} checked="checked" {% endif %} disabled >  Restrict access to this {{ type }} to registered visitors only (the whole category is already hidden)</p>
                        {% else %}
                            <input type="checkbox" name="hidden" value="hide" {% if this.hidden %} checked="checked" {% endif %} >  Restrict access to this {{ type }} to registered visitors only
                        {% endif %}
                    {% endif %}
            </td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td style="text-align: center;">
                        <a href="{{ back }}" class="btn btn-info">
                            <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>&nbsp;Cancel
                        </a>

                        {% if (type not in ['topic', 'comment']) or (session.permission is equalto 15) or (this.user_id and (this.user_id is equalto session.id)) %}

                            <a href="#" data-href="/delete?type={{ type }}&id={{ this.id }}" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Delete</a>
                            {{ confirm_popup("If you confirm, this "~type~" will be irreversibly deleted.") }}

                        {% endif %}
                        {% if (type in ['topic', 'comment']) and session.permission > 7 %}
                            <a href="#" data-href="/moderate?type={{ type }}&id={{ this.id }}&modo={{ session.username }}" class="btn btn-warning" data-toggle="modal" data-target="#confirm-delete">
                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp;Moderate
                                {{ confirm_popup("If you confirm, this content will be sentenced to be lost forever") }}
                            </a>
                        {% endif %}
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit
                        </button>
    				</td></tr>
                </table>
			</form>
            </td></tr>
            </table>
		</div>
   </div>
</div>
{% endblock %}