{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {{ super() }}
            <ol class="breadcrumb">
                <li><a href="/category/{{ cat.id }}">{{ cat.titre|e }}</a></li>
                <li><a href="/subcategory/{{ sscat.id }}">{{ sscat.titre|e }}</a></li>
                <li class="active">{{ topic.titre|e }}</li>
            </ol>
            <table class="table table-bordered table-striped">
                <tr>
                    <th style="text-align: center;">{{ topic.titre|e }}</th>
                </tr>
                <tr><td>
                    <table class="table table-bordered table-striped">
                        <tr><th style="text-align: center; width: 25%;">User</th>
                        <th style="text-align: center;">Message</th></tr>
                        <tr>
                            <td>{% if topic.user_id %}
                                <strong><a href="/user/{{ topic.user_id }}">
                                    {{ topic.username|e }}
                                </a></strong>
                            {% else %}
                                Deleted user
                            {% endif %}</td>
                            <td><small>
                                 <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                    Title : {{ topic.titre|e }}&nbsp;&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span class="sr-only">Published on :</span>
                                    {{ topic.date_creation }}</small><br><br>
                                    {{ topic.text|safe }}<br><br>
                                    {% if topic.date_creation is not equalto topic.date_modification %}
                                        <small><small><p class="text-right">Last modified on {{ topic.date_modification }}</p></small></small>
                                    {% endif %}</td>
                        </tr>
                        <tr class="info"><td></td><td>
                            {% if (session.permission > 7) or (session.id and (session.id is equalto user.id)) %}
                                <abbr title="Edit {{ topic.titre|e }}"><a href="/edit_topic/{{ topic.id }}" class="btn btn-default btn-sm" aria-label="edit topic">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a></abbr>
                            {% endif %}
                        </td></tr>
                        {% for com in topic.com %}
                            <tr>
                                <td>{% if com.user_id %}
                                    <strong><a href="/user/{{ com.user_id }}">
                                    {{ com.username|e }}
                                    </a></strong>
                                {% else %}
                                    Deleted user
                                {% endif %}</td>
                                <td><small>
                                     <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                        Title : {{ com.titre|e }}&nbsp;&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span class="sr-only">Published on :</span>
                                    {{ com.date_creation }}</small><br><br>
                                    {{ com.text|safe }}<br><br>
                                    {% if com.date_creation is not equalto com.date_modification %}
                                        <small><small><p class="text-right">Last modified on {{ com.date_modification }}</p></small></small>
                                    {% endif %}</td>
                            </tr>
                            <tr><td></td><td>
                                {% if (session.permission > 7) or (session.id and (session.id is equalto user.id)) %}
                                    <abbr title="Edit this comment"><a href="/edit_com/{{ com.id }}" class="btn btn-default btn-xs" aria-label="edit comment">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a></abbr>
                                {% endif %}
                            </td></tr>
                        {% endfor %}
                    </table>
                </td></tr>
            </table>
            {% if session.id  %}
                <abbr title="Comment"><a href="/add_com/{{ topic.id }}" class="btn btn-primary btn-sm" aria-label="add comment">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                </a></abbr>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}